<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptit.mybatis.repository.TblDetailUserJapanRepository">
    <insert id="insertTblDetailUserJapan" parameterType="com.ptit.mybatis.domain.TblDetailUserJapan" useGeneratedKeys="true" keyColumn="DETAIL_USER_JAPAN_ID">
        INSERT INTO TBL_DETAIL_USER_JAPAN(USER_ID, CODE_LEVEL, START_DATE, END_DATE, TOTAL)
        VALUES(#{tblDetailUserJapan.userId} , #{tblDetailUserJapan.codeLevel}, #{tblDetailUserJapan.startDate},
        #{tblDetailUserJapan.endDate}, #{tblDetailUserJapan.total})
    </insert>

    <update id="updateTblDetailUserJapan" parameterType="com.ptit.mybatis.domain.TblDetailUserJapan">
        UPDATE TBL_DETAIL_USER_JAPAN
        <set>
            <if test="tblDetailUserJapan.codeLevel != null">CODE_LEVEL = #{tblDetailUserJapan.codeLevel} ,</if>
            <if test="tblDetailUserJapan.startDate != null">START_DATE = #{tblDetailUserJapan.startDate} ,</if>
            <if test="tblDetailUserJapan.endDate != null">END_DATE = #{tblDetailUserJapan.endDate} ,</if>
            <if test="tblDetailUserJapan.total != null">TOTAL = #{tblDetailUserJapan.total} ,</if>
        </set>
        WHERE USER_ID = #{tblDetailUserJapan.userId}
    </update>

    <delete id="deleteTblDetailUserJapan">
        DELETE FROM TBL_DETAIL_USER_JAPAN WHERE USER_ID = #{userId}
    </delete>

    <select id="findTblDetailUserJapanByUserId" resultType="com.ptit.mybatis.domain.TblDetailUserJapan">
        SELECT DETAIL_USER_JAPAN_ID,
                USER_ID,
                CODE_LEVEL,
                START_DATE,
                END_DATE,
                TOTAL
        FROM TBL_DETAIL_USER_JAPAN
        WHERE USER_ID = #{userId}
        ORDER BY DETAIL_USER_JAPAN_ID DESC
        LIMIT 1
    </select>
</mapper>